@import "./variables";

.canvas{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 4px red solid;
}
canvas{
  border: 1px black solid;
  background-color: white;
}

.input{
  width: 200px;
  height: 25px;
  border: #0d6efd solid 1px;
  border-radius: 5px;
}
.closedEye{
  background: url("../assets/imgs/icons8-closed-eye-24.png") no-repeat right;
}
.openEye{
  background: url("../assets/imgs/icons8-eye-24.png") no-repeat right
}

::placeholder{
  padding-left: 5px;
  color: #0d6efd;
  opacity: 33.3333334%;
}